@charset "UTF-8";

h1 {
  text-align: center;
  color: #364e96;
  border: solid 3px #364e96;
  padding: 0.5em;
  border-radius: 0.5em;
}

table {
	text-align: center;
	width:100%
}

table th {
	color: blue;
	color: red;  background: white;
	padding: 10px;
	padding: 3px 10px;
}
